# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# --- CMake & Ninja Build Artifacts ---
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake
**/*.ninja
**/*.rsp
**/rules.ninja
**/compile_commands.json
**/Makefile

# --- Windows Build Artifacts ---
windows/Debug/
windows/Release/
windows/build/

**/prefab_config.json
**/metadata_generation_command.txt

**/configure_fingerprint.bin
**/build_file_index.*
**/symbol_folder.txt
**/hash_key.txt