# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/

# IDE/editor settings
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Git files
.git/
.gitignore

# Docker artifacts
Dockerfile
